.slideshow {
  grid-column: 1 / -1;
  overflow: hidden;
  position: relative;
  width: 100%;  
  
}
.slideshow:hover .slideshow-btn{
  opacity: 1;
}
.slideshow-slides {
  width: max-content;
  display: flex;
  gap:1.75rem;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  will-change: transform;
}
.slideshow-slides > article{
  width: 250px;
}
.slideshow-btn{
  border: none;
  position:absolute;
  padding:0;
  top:50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  opacity: 0;
  transform-origin: center;
  &:hover{transform: translateY(-50%) scale(1.1 ) ;}
  &:focus-within{opacity: 1;}
}
#backward-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23d68b00' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22Z'/%3E%3Cpath fill='whitesmoke' transform='translate(24%200)%20scale(-1%201)' d='M12.2 13l-.9.9q-.275.275-.275.7t.275.7t.7.275t.7-.275l2.6-2.6q.3-.3.3-.7t-.3-.7l-2.6-2.6q-.275-.275-.7-.275t-.7.275t-.275.7t.275.7l.9.9H9q-.425 0-.712.288T8 12t.288.713T9 13z'/%3E%3C/svg%3E");

}
#forward-btn{
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23d68b00' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22Z'/%3E%3Cpath fill='whitesmoke' d='M12.2 13l-.9.9q-.275.275-.275.7t.275.7t.7.275t.7-.275l2.6-2.6q.3-.3.3-.7t-.3-.7l-2.6-2.6q-.275-.275-.7-.275t-.7.275t-.275.7t.275.7l.9.9H9q-.425 0-.712.288T8 12t.288.713T9 13z'/%3E%3C/svg%3E");

}
