:root {
  --color-parme: oklch(30% 0.05 0);
  --color-body: oklch(12.095% 0.04151 357.042);
  --color-bg-body: oklch(12.095% 0.04151 357.042);
  --color-white: oklch(96.307% 0.00656 4.672 / 0.942);
  --color-white-body: oklch(97.015% 0.00011 271.152);
  --color-blue: oklch(56.946% 0.1641 250.823);
  --color-blue-dark: oklch(50.923% 0.07625 246.013);
  --color-gold: oklab(69.681% 0.04759 0.14184);
  --color-gold-lighter: oklch(77.795% 0.16624 71.805);
  --color-red: oklch(55% 0.22 30);
  --color-pink: #f309ad;
  --color-orange: oklch(64.903% 0.14964 49.949);
  --color-green: oklch(45% 0.12 180);
  --p-line-height: 1.25rem;
}

* {
  box-sizing: border-box;
}


h1.page-title {
  text-align: right;
  font-size: clamp(3rem, 4vw, 5rem);
}

h2 {
  margin-bottom: 0.5em;
}

body {
  color: var(--color-body);
  background-color: var(--color-bg-body);
  font-family: Helvetica, Arial, sans-serif;
}

body,
figure,
h1,
p {
  margin: 0;
  padding: 0;
}

p {
  line-height: var(--p-line-height);
  max-width: 60ch;
}

a:link {
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--color-parme);
}

img {
  width: 100%;
  height: auto;
  display: block;
}
#root{
  padding: 0 2rem;
}
@media (min-width: 992px) {
  #root {
    padding: 0 4rem;
  }
}

.header {
  margin: 2rem 0;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.page-title a:link {
  color: var(--color-body);
}

.page-title span {
  display: block;

  &:first-of-type {
    background: linear-gradient(to top,
        var(--color-white) 10%,
        var(--color-blue-dark));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    color: var(--color-body);
  }

  &:last-of-type {
    font-size: 1rem;
    color: var(--color-white);
  }

  a:link {
    color: var(--color-white);
  }
}

/* Content */
#main-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
  position: relative;
}
@media(min-width:992px){
  #main-wrapper {
    gap: 2.5rem;
  }
}

.episode,
.show {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  opacity: 0;
  background-color: var(--color-white-body);
  border-radius: 0.25rem;
  transition: all 0.2s ease-out;
}

.episode.loaded,
.show.loaded {
  opacity: 1;
}

/* Episode */

.episode-banner {
  text-align: right;
  padding: 0.5rem;
  background-color: var(--color-gold);
}

.episode-figure {
  background-color: white;
  border-bottom: 0.5rem solid var(--color-gold);
}

.episode-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1rem 1rem 1rem;
}

.episode-link,
.show-link {
  margin-top: 1rem;
  height: 100%;
  align-self: self-end;
  align-content: flex-end;
}

.icon-size {
  margin-left: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(3px);
}

/* Show */
.show {
  cursor: pointer;
}

.show:hover {
  box-shadow: var(--color-body) 3px 5px 18px 0px;
}

.show:hover img {
  transform: scale(1.025);
}

.show-image img {
  transition: transform 0.2s ease-in;
  transform-origin: center;
}

.show-image {
  border-bottom: 0.5rem solid var(--color-gold);
  overflow: hidden;
}

.show-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1rem 1rem 1rem;
}

.summary p {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show-genres {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0 0.5rem;
}

.show-rating,
.show-start-end {
  margin-top: 0.75rem;
}

.show-rating>span {
  font-size: 1rem;
  padding-right: 0.25rem;
}

.show-rating>span.active {
  color: var(--color-gold);
}

.show-link {
  text-align: right;
}

/* CTA */
.btn {
  all: reset;
  border: 1px solid #003f88;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: white;
  color: #003f88;
  font-size: 1rem;
}

.btn-show-cta {
  background-color: var(--color-blue);
  color: white;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease-out;

  &::after {
    content: "\2190";
    display: block;
  }

  &:hover {
    background-color: var(--color-blue-dark);
  }
}
@media (min-width: 992px) {
  .btn-show-cta{
    min-width: 15ch;
  }
}

/* Form */

.search-container {
  --gap: 0.5rem;
  padding: 2rem 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.search-container select {
  width: 100%;
}

.field-search-input {
  width: 100%;
}

.field-show-select,
.field-display-by {
  width: calc(50% - var(--gap) / 2);
}

.field-show-select {
  order: 2;
}

.field-display-by {
  order: 3;
}

.field-episode-select {
  flex-grow: 1;
}

@media (min-width: 992px) {
  .search-container {
    flex-wrap: nowrap;
  }

  .field-show-select,
  .field-display-by {
    order: unset;
    width: auto;
  }

  .field-episode-select {
    flex-grow: unset;
  }

  .search-container select {
    width: 30ch;
  }
}

.field-search-input {
  flex-grow: 1;
}

.search-container input,
.search-container select {
  padding: 0.75rem;
  font-size: 1rem;
  border: 2px solid var(--color-body);
  border-radius: 0.25rem;
  background-color: var(-- --color-white-body);
}


.search-container input {
  width: 100%;
}

.search-count {
  display: inline-block;
  font-size: 1rem;
  margin: 2rem 0;
  padding: 0.25rem;
  color: var(--color-white);
}

.search-count:empty {
  visibility: hidden;
}

.search-container label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

/* Genres */
#genres-container {
  flex-wrap: wrap;
}

.btn-genre {
  background-color: var(--color-blue);
  color: var(--color-bg-body);
  text-transform: uppercase;
  height: 100%;
  cursor: pointer;
  opacity: 0.75;
  transition: all 0.2s ease-out;

  &::before {
    content: "\2715";
    padding-right: 0.5rem;
  }
}

.btn-genre:hover,
.btn-genre.active {
  color: white;
  opacity: 1;
}

/* Utilities */

.hidden {
  visibility: hidden;
  opacity: 0;
}

.none {
  display: none;
}

/* Error & Loader */
#error {
  text-align: center;
  max-width: none;
  color: var(--color-orange);
}

#loader {
  animation: pulse 1.5s ease-in-out infinite;
  color: var(--color-white);
  position: absolute;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

/* Back to top */
#back-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: pointer;
  color: var(--color-gold);
  transform: translateX(-20%);
  transition: color 0.2s ease-out;

  &:hover {
    color: var(--color-gold-lighter);
  }
}

/* Favorites */
.heart {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 36px;
  height: 36px;
  color: white;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0ibTEyLjEgMTguNTVsLS4xLjFsLS4xMS0uMUM3LjE0IDE0LjI0IDQgMTEuMzkgNCA4LjVDNCA2LjUgNS41IDUgNy41IDVjMS41NCAwIDMuMDQgMSAzLjU3IDIuMzZoMS44NkMxMy40NiA2IDE0Ljk2IDUgMTYuNSA1YzIgMCAzLjUgMS41IDMuNSAzLjVjMCAyLjg5LTMuMTQgNS43NC03LjkgMTAuMDVNMTYuNSAzYy0xLjc0IDAtMy40MS44MS00LjUgMi4wOEMxMC45MSAzLjgxIDkuMjQgMyA3LjUgM0M0LjQyIDMgMiA1LjQxIDIgOC41YzAgMy43NyAzLjQgNi44NiA4LjU1IDExLjUzTDEyIDIxLjM1bDEuNDUtMS4zMkMxOC42IDE1LjM2IDIyIDEyLjI3IDIyIDguNUMyMiA1LjQxIDE5LjU4IDMgMTYuNSAzIi8+PC9zdmc+');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.2s ease-out;
  opacity: 0.5;
}

.heart:hover,
.heart.active {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI2YzMDlhZCIgZD0ibTEyIDIxLjM1bC0xLjQ1LTEuMzJDNS40IDE1LjM2IDIgMTIuMjcgMiA4LjVDMiA1LjQxIDQuNDIgMyA3LjUgM2MxLjc0IDAgMy40MS44MSA0LjUgMi4wOEMxMy4wOSAzLjgxIDE0Ljc2IDMgMTYuNSAzQzE5LjU4IDMgMjIgNS40MSAyMiA4LjVjMCAzLjc3LTMuNCA2Ljg2LTguNTUgMTEuNTN6Ii8+PC9zdmc+');
  opacity: 1;
}

/* Animations */
@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}