:root {
  --color-parme: oklch(30% 0.05 0);
  --color-body: oklch(12.095% 0.04151 357.042);
  --color-bg-body: oklch(0.63 0.01 0 / 0.82);
  --color-blue: oklch(50% 0.15 250);
  --color-blue-dark: oklch(0.43 0.06 248.38);
  --color-gold: oklch(70% 0.18 80);
  --color-red: oklch(55% 0.22 30);
  --color-orange: oklch(65% 0.15 50);
  --color-green: oklch(45% 0.12 180);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
}

body {
  color: var(--color-body);
  background-color: var(--color-bg-body);
  font-family: Helvetica, Arial, sans-serif;
}

body,
figure,
h1,
p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.25rem;
  max-width: 60ch;
}

a:link {
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--color-parme);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.header {
  margin: 2rem 0;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

h1.page-title {
  text-align: right;
}

.page-title a:link {
  color: var(--color-body);
}

.page-title span {
  display: block;

  &:first-of-type {
    background: linear-gradient(to top,
        var(--color-body) 20%,
        var(--color-blue-dark));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    color: var(--color-body);
  }

  &:last-of-type {
    font-size: 1rem;
  }
}

/* Content */
#main-wrapper {
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 2.5rem;
  position: relative;
}

.episode,
.show {
  opacity: 0;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: var(--color-body) 0px 5px 14px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: opacity 0.2s ease-out;
  
}
.episode.loaded,
.show.loaded {
  opacity: 1;
}

/* Episode */

.episode-banner {
  text-align: right;
  padding: 0.5rem;
  background-color: var(--color-gold);
}

.episode-figure {
  background-color: white;
  border-bottom: 0.5rem solid var(--color-gold);
}

.episode-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 2rem 2rem 2rem;
}

.episode-link {
  margin-top: 1rem;
  height: 100%;
  align-self: self-end;
  align-content: flex-end;
}

.icon-size {
  margin-left: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(3px);
}

/* Show */
.show {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.show:hover {
  box-shadow: var(--color-body) 3px 5px 18px 0px;
}

.show:hover img {
  transform: scale(1.025);
}

.show-image img {
  transition: transform 0.2s ease-in;
  transform-origin: center;
}

.show-image {
  border-bottom: 0.5rem solid var(--color-gold);
  overflow: hidden;
}

.show-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1rem 1rem 1rem;
}

.show-summary {
  max-height: 13.5ch;
  overflow-y: auto;
}

.show-summary p {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show-genres {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0 0.5rem;
}

.show-rating {
  margin-top: 1rem;
}

.show-rating>span {
  font-size: 2rem;
  padding-right: 0.25rem;
}

.show-rating>span.active {
  color: var(--color-gold);
}

/* CTA */
.btn {
  all: reset;
  border: 1px solid #003f88;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: white;
  color: #003f88;

}

.btn-show-cta {
  background-color: var(--color-blue-dark);
  color: white;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: var(--color-blue);
  }
}

/* Form */

.search-container {
  padding: 2rem 4rem 0;
  display: flex;
  gap: 0.5rem;
}

.field-search-input {
  flex-grow: 1;
}

.search-container input,
.search-container select {
  padding: 0.75rem;
  font-size: 1rem;
  border: 2px solid var(--color-body);
  border-radius: 0.25rem;
}

.search-container input {
  width: 100%;
}

.search-container select {
  width: 30ch;
}

.search-count {
  display: inline-block;
  font-size: 1rem;
  margin: 2rem 4rem;
  padding: 0.25rem;
  background-color: white;
}

.search-count:empty {
  visibility: hidden;
}

.search-container label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

/* Utilities */

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

/* Error & Loader */
#error{
  text-align: center;
  max-width:none;
}
#loader {
  animation: pulse 1.5s ease-in-out infinite;
  position: absolute;
  z-index: 1000;
  left:50%;
  transform: translateX(-50%);

}

/* Animations */
@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
